@media screen and (max-width : 690px){
    .Note{
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    .note-content{
        margin: 0.8em 0em;
    }

    .Share-note, .Update-note, .delete-note{
        margin:2px;
    }
}