.Note{

    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;

}

.note-content{

    border: 1px solid black;
    padding: 1.2em;
    margin: 0.8em;
}

.note-text{
  display: block;
  line-break:anywhere;
}

.delete-note{
  
    margin-right: 1em;
    background-color: red;
    border-color: red;
}

.delete-note:hover, .delete-note:focus{
    background-color: red;
    border-color: red;
}

.Share-note, .Update-note{
   
    margin-right: 1em;
}